h1 {color: #990033; font-size 36pt; font-family: cursive}

h3 {color: blue; font-size 24pt;}

ul {font-size 18pt; font-family: sans-serif}
main li {color: blue;}
li {color: #990033;}

p {font-size 17pt;}

footer {font-size: 10pt;} 

img {float: right}