h1 
{
    background: darkseagreen;
    border: 5px solid; 990033
    width: 700px;
    height: 100px;
    padding: 20px;
    color: #990033; 
    font-size 72pt; 
    font-family: cursive;
    text-align: center;
}
img 
{
    position: relative;
    right: 10px;
    top: 10px;
    float:right;
}

body
{background-color: antiquewhite;}


h3 {color: blue; font-size 24pt;}

ul {font-size 18pt; font-family: sans-serif}
main li {color: blue;}
li {color: #990033;}

p {font-size 17pt;}

footer 
{
    border-top: 2px solid darkseagreen;
    font-size: 10pt;
} 

